In [8]:
import pandas as pd
import geopandas as gpd

In [2]:
linkNYC = pd.read_csv('July 2018 Monthly LinkNYC Data - Per-AP.csv')

In [4]:
income = pd.read_csv('income/Income_data/ACS_17_5YR_B19013_with_ann.csv')

In [7]:
income.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01
0,Id,Id2,Geography,Estimate; Median household income in the past ...,Margin of Error; Median household income in th...
1,1400000US36061000100,36061000100,"Census Tract 1, New York County, New York",-,**
2,1400000US36061000201,36061000201,"Census Tract 2.01, New York County, New York",23574,5408
3,1400000US36061000202,36061000202,"Census Tract 2.02, New York County, New York",32068,6133
4,1400000US36061000500,36061000500,"Census Tract 5, New York County, New York",-,**

In [12]:
tiger = gpd.read_file("tl_2017_36_tract/tl_2017_36_tract.shp")

In [15]:
income_geo = tiger.merge(income, left_on = "GEOID", right_on = "GEO.id2", how = "left")[['GEOID','HD01_VD01','geometry','GEO.display-label']]

In [20]:
ny_income = income_geo.dropna()

In [22]:
ny_income.size

1152